*
{
	box-sizing: border-box;
	color:  #333;
	text-align: center;
}

body
{
	background-color: #8F8F8F;
}

/* BELOW STYLLING FOR MOBILE */
/* Mobile first design */
/* This is definition of column size on mobile phones */
[class*="col-"]
{
	width: 100%;
	padding: 5px;
	border: 1px solid;
}

.container 
{
	background-color: #ddd;
	border: 1px red solid;
}

.mobileimg
{
	display:initial;
}

.image, .datetime, .spacer, .welcome
{
	display:none;
}
	 .header, .navigation., .container, .content
	 {
	 	border: 2px red solid;
	 	padding: 5px;
	 }


/* BELOW STYLLING FOR SMALLER SCREENS */
/* This is media query definied for screens with minimal width of 700px - desks */
@media only screen and (min-width: 700px)
{

	[class*="col-"]
{
	width: 100%;
	padding: 0px;
	border: 1px solid;
}

	.spacer, .mobileimg, .datetime
	{
		display: none;
	}


	 .image
	{
		display:initial;
	}

	 .welcome
	{
		display: initial;
		padding-top: 5%;
	}
		 .header , .navigation., .container, .content, .row
	 {
	 	border: 2px red solid;
	 	padding: 5px;
	 }


/* BELOW STYLLING FOR BIGGER SCREENS */
/*Stylling for screens with min width 1160px */
@media only screen and (min-width: 1160px)
{
	/* for Desk */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	[class*="col-"]
	{
		float: left;
		height: auto;
		padding: 0px;
	}
	.row::after 
	{
		content: "";
		clear: both;
		display: table;
	}

	.empty, .spacer
	{
		padding: 3px 0px 3px 0px;
	}

	.mobileimg
	{
		display: none;
	}

	.empty, .image, .spacer
	{
		display:initial;
	}

	 .welcome
	{
		display: initial;
		padding-top: 5%;
	}

	 .datetime
	 {
	 	display:initial;
	 	padding: 1.5% 0 0 0 ;
	 }
	 .header, .navigation., .container, .content, .row
	 {
	 	border: 2px solid red;
	 	padding: 5px;
	 }
}
